.turnos-container {
  margin: 20px;
}

.date-picker-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.volver-button {
  margin-left: 20px;
}

mat-accordion {
  width: 100%;
}

mat-expansion-panel {
  margin-bottom: 10px;
}