<div class="turnos-container">
  <h2>Turnos Programados</h2>
  
  <div class="date-picker-container">
    <mat-form-field appearance="fill">
      <mat-label>Selecciona una fecha</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="seleccionarFecha($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button class="volver-button" (click)="volver()">Volver</button>
  </div>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let turno of turnosFiltrados">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ turno.hora }} - {{ turno.nombre }} {{ turno.apellido }} ({{ turno.edad }} años)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ turno.nota }}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>