.admin-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.usuario-form {
  display: flex;
  flex-direction: column;
}

.usuario-form mat-form-field {
  margin-bottom: 15px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
}