<h2>Registrarse</h2>
<form [formGroup]="registroForm" (ngSubmit)="registrarUsuario()">
  <div class="name-fields">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" required />
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Correo electrónico</mat-label>
    <input matInput type="email" formControlName="email" required />
  </mat-form-field>
  <div class="password-fields">
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required />
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>DNI</mat-label>
    <input matInput formControlName="dni" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Fecha de Nacimiento</mat-label>
    <input matInput type="date" formControlName="fecha_nacimiento" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Cobertura</mat-label>
    <mat-select formControlName="id_cobertura" required>
      <mat-option *ngFor="let cobertura of coberturas" [value]="cobertura.id">
        {{ cobertura.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting">Registrarse</button>
  <button mat-button *ngIf="mostrarBotonVolver" (click)="volver()">Volver</button>
</form>
<div *ngIf="mensaje" class="mensaje">{{ mensaje }}</div>