<h1 mat-dialog-title>Editar Usuario</h1>
<div mat-dialog-content>
  <form [formGroup]="usuarioForm">
    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput type="date" formControlName="fecha_nacimiento">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol">
        <mat-option value="operador">Operador</mat-option>
        <mat-option value="medico">Medico</mat-option>
        <mat-option value="admin">Admin</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cobertura</mat-label>
      <mat-select formControlName="id_cobertura">
        <mat-option [value]="null">No tiene</mat-option>
        <mat-option *ngFor="let cobertura of coberturas" [value]="cobertura.id">
          {{ cobertura.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSaveClick()">Guardar</button>
</div>